# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/feature/feature0/export/build/
/feature/feature0/export/build/intermediates/javac/release/classes/
/feature/feature0/pkg/build/
/feature/feature0/pkg/build/intermediates/javac/release/classes/
/feature/launcher/app/build/
/feature/launcher/app/build/intermediates/javac/release/classes/
/lib/account/build/
/lib/account/build/intermediates/javac/release/classes/
/lib/androidutils/build/
/lib/androidutils/build/intermediates/javac/release/classes/
/lib/appupdate/build/
/lib/appupdate/build/intermediates/javac/release/classes/
/lib/audiorecord/build/
/lib/audiorecord/build/intermediates/javac/release/classes/
/lib/base/build/
/lib/base/build/intermediates/javac/release/classes/
/lib/common/build/
/lib/common/build/intermediates/javac/release/classes/
/lib/common-tio/build/
/lib/common-tio/build/intermediates/javac/release/classes/
/lib/commonwallet/build/
/lib/commonwallet/build/intermediates/javac/release/classes/
/lib/db/build/
/lib/db/build/intermediates/javac/release/classes/
/lib/httpclient/build/
/lib/httpclient/build/intermediates/javac/release/classes/
/lib/imclient/build/
/lib/imclient/build/intermediates/javac/release/classes/
/lib/jpush/build/
/lib/jpush/build/intermediates/javac/release/classes/
/lib/newpay/build/
/lib/newpay/build/intermediates/javac/release/classes/
/lib/qrcode/build/
/lib/qrcode/build/intermediates/javac/release/classes/
/lib/session/build/
/lib/session/build/intermediates/javac/release/classes/
/lib/social-lib/build/
/lib/social-lib/build/intermediates/javac/release/classes/
/lib/social-tio/build/
/lib/social-tio/build/intermediates/javac/release/classes/
/lib/verification/build/
/lib/verification/build/intermediates/javac/release/classes/
/lib/webrtc/build/
/lib/webrtc/build/intermediates/javac/release/classes/
/lib/webrtclib/build/
/lib/webrtclib/build/intermediates/javac/release/classes/
/.idea/
/.idea/
