<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiocloud.webrtc">


    <application>

        <!--电话页-->
        <activity
            android:name="com.tiocloud.webrtc.webrtc.CallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TioTheme" />

    </application>

</manifest>