<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.webrtclib">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--日志输出-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--麦克风-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--音频管理：听筒模式 or 扬声器模式-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--蓝牙耳机连接管理-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>
