<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.androidutils">

    <application>

        <receiver android:name=".receiver.AudioBecomingNoisyReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <!--内容提供者-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <!--浏览器页-->
        <activity
            android:name=".feature.browser.TioBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/WtTheme.Blue.NoActionBar" />

        <!--视频播放页-->
        <activity
            android:name=".feature.player.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/WtTheme.Blue.FullScreen" />


    </application>

</manifest>